<!DOCTYPE html>
<html><head>
	    <meta charset="utf-8">
    <title>无纸化仓库管理</title>

    <meta name="description" content="Dashboard">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--Basic Styles-->
    <link href="__PUBLIC__/style/bootstrap.css" rel="stylesheet">
    <link href="__PUBLIC__/style/font-awesome.css" rel="stylesheet">
    <link href="__PUBLIC__/style/weather-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/style/bootstrap-table.min.css">
    <link href="__PUBLIC__/style/bootstrap-editable.css" rel="stylesheet"/>
    <!--Beyond styles-->
    <link id="beyond-link" href="__PUBLIC__/style/beyond.css" rel="stylesheet" type="text/css">
    <link href="__PUBLIC__/style/demo.css" rel="stylesheet">
    <link href="__PUBLIC__/style/typicons.css" rel="stylesheet">
    <link href="__PUBLIC__/style/animate.css" rel="stylesheet">
 
</head>
<style>
      table{
          text-align:center;
      }
      table thead th{
          text-align:center;
      }
      .search{
          background:#fff;
          margin:10px 0px;
          padding:10px;
      }
      input[type=checkbox], input[type=radio] {
            opacity:1;
            position:static;
            width: 18px;
            height: 18px;
            cursor: pointer;
        }
</style>
<body>
	<!-- 头部 -->
	{include file="common/top"}
	<!-- /头部 -->
	
	<div class="main-container container-fluid">
		<div class="page-container">
			            <!-- Page Sidebar -->
            {include file="common/left"}
            <!-- /Page Sidebar -->
            <!-- Page Content -->
            <div class="page-content">
                <!-- Page Breadcrumb -->
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">系统</a>
                        </li>
                        <li class="active">仓库信息管理</li>
                    </ul>
                </div>
                <!-- /Page Breadcrumb -->

                <!-- Page Body -->
<div class="page-body"> 
<div class="row">
    <div class="search">
            <form action="" method="get" class="searchForm">
                    <div class="row">
                        <div class="col-md-2">
                                <input class="form-control" name="serialnum" type="text" value="{$Request.param.stusno}" placeholder="资产编号" >
                        </div>
                        <div class="col-md-2">
                                <input class="form-control" name="stusno" type="text" value="{$Request.param.stusno}" placeholder="请输入学号" >
                        </div>
                        <div class="col-md-2">
                                <input class="form-control" name="uname"  type="text" value="{$Request.param.uname}" placeholder="请输入姓名">            
                        </div>
                        <div class="col-md-2">
                                <select class="form-control type" name="type" vaule="">
                                            <option value="" selected disabled>请选择类型</option>
                                            <option value="1">领取</option>
                                            <option value="0">清退</option>
                                </select>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control store" name="status">
                                <option value="" selected disabled>请选择状态</option>
                                    <option value="0">待处理</option>
                                    <option value="1">已处理</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                               <input type="submit" class="btn btn-primary" value="查询" name="search">
                        </div>
                    </div>
            </form>
    </div>  
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <!-- <button type="button" tooltip="下载excel" class="btn btn-sm btn-azure btn-addon download" onclick="javascript:window.location.href='{:url('storelist/lst?download=1')}'"><i class="fa fa-download"></i>导出Excel</button> -->
        <button type="button" tooltip="下载excel" class="btn btn-sm btn-azure btn-addon download" onclick="javascript:window.location.href='{:url('storelist/out')}'"><i class="fa fa-download"></i>导出Excel</button>
        <button type="button" tooltip="将勾选项设为已处理" class="btn btn-sm btn-info btn-addon processed"><i class="fa fa-edit"></i>将勾选项设为已处理</button>
        <button type="button" tooltip="将勾选项待处理" class="btn btn-sm btn-info btn-addon process"><i class="fa fa-edit"></i>将勾选项待处理</button>
        <button type="button" tooltip="将勾选项删除" class="btn btn-sm btn-danger btn-addon itemRemove"><i class="fa fa-trash-o"></i>勾选项删除</button>
        <div class="widget">
            <div class="widget-body">
                <div class="flip-scroll">
                    <table class="table table-bordered table-hover" id="dataGrid">
                    </table>
                </div>
            </div>
        </div>
        </div>
    </div>

                </div>
                <!-- /Page Body -->
            </div>
            <!-- /Page Content -->
        </div>
            <!-- 按钮触发模态框 -->
            <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">开始演示模态框</button>
            <!-- 模态框（Modal） -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">签名图片</h4>
                        </div>
                        <div class="modal-body">

                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
        </div>	
	</div>
	    <!--Basic Scripts-->
    <script src="__PUBLIC__/style/jquery_002.js"></script>
    <script src="__PUBLIC__/style/bootstrap.js"></script>
    <script src="__PUBLIC__/style/bootstrap-table.min.js"></script>
    <script src="__PUBLIC__/style/bootstrap-editable.min.js"></script>
    <script src="__PUBLIC__/style/bootstrap-table-editable.js"></script>
    <script src="__PUBLIC__/style/bootstrap-table-zh-CN.js"></script>
    <script src="__PUBLIC__/style/jquery.js"></script>
    <!--Beyond Scripts-->
    <script src="__PUBLIC__/style/beyond.js"></script>
   
    <script>
            var overAllIds = new Array();  //全局数组
            $(function(){
                // var type ={$Request.param.type?$Request.param.type:'null'};
                // var store = {$Request.param.storeid?$Request.param.storeid:'null'};
                // type&&$(".type").val(type);
                // store&&$(".store").val(store);
                $(".searchForm").submit(function(e){
                        // var flag=[];
                        // var t = $(this).serializeArray();
                        // $.each(t,function(i,item){
                        //        if(item['value']==""){
                        //            flag.push('false')
                        //        } 
                        //        else{
                        //             flag.push('true');
                        //        }
                        // })
                        // if(flag.indexOf('true')==-1){
                        //         alert("请输入查找的内容!");
                        //         return false;
                        // }
                        e.preventDefault();
                        $('#dataGrid').bootstrapTable('refresh');
                });
                $("#dataGrid").on('click','.sign',function(e){
                        e.preventDefault();
                        $("#myModal .modal-body").html(`<img style="width:100%" src="${$(this).attr('href')}"/>`);
                        $('#myModal').modal();
                })
                $(".download").on('click',function(){
                        if(GetQueryString('search')){
                            var serializeUrl = $(".searchForm").serialize();
                            //alert('./lst?download=1&'+serializeUrl);
                            window.location.href='./lst?download=1&search=查询'+serializeUrl;
                        }
                        else{
                            window.location.href='./lst?download=1'; 
                        }
                })
                $(".processed").on('click',function(){
                    updataStatus(1);
                })
                $(".process").on('click',function(){
                    updataStatus(0);
                })
                $(".itemRemove").on('click',function(){
                     itemRemove();
                })
                function itemRemove(){
                    var rows = $("#dataGrid").bootstrapTable('getSelections');
                    console.log(rows);
                    if (rows.length == 0) {
                        alert("请先勾选!");
                        return;
                    } 
                    else{
                        var arrays = new Array();
                        $(rows).each(function () {
                            arrays.push(this.pid);
                        });
                        var idcard = arrays 
                        console.log(idcard);
                        $.ajax({
                            url:'./itemRemove',
                            data:{
                                idList:JSON.stringify(idcard)
                            },
                            success:function(data){
                                $('#dataGrid').bootstrapTable('refresh');
                            }
                        })
                    }
                }
                function updataStatus(status){
                    var rows = $("#dataGrid").bootstrapTable('getSelections');
                    console.log(rows);
                    if (rows.length == 0) {
                        alert("请先勾选!");
                        return;
                    } 
                    else{
                        var arrays = new Array();
                        $(rows).each(function () {
                            arrays.push(this.pid);
                        });
                        var idcard = arrays 
                        console.log(idcard);
                        $.ajax({
                            url:'./updateData',
                            data:{
                                idList:JSON.stringify(idcard),
                                status:status
                            },
                            success:function(data){
                                $('#dataGrid').bootstrapTable('refresh');
                            }
                        })
                    }
                }
                $('#dataGrid').bootstrapTable({
                     //请求后台的URL（*）
                     ajax:function(request) {
                        $.ajax({
                            url:"./allData",
                            type:"POST",
                            dataType:"json",
                            data:$(".searchForm").serialize(),
                            success:function(data){
                                request.success({
                                    row : data
                                });
                                $('#dataGrid').bootstrapTable('load', data);
                            },
                            error:function(error){
                                console.log(error);
                            }
                        })
                    },
                    pageSize:"10",
                    search:false,
                    pageNumber:"1",
                    pagination:true,
                    // clickToSelect:true,
                    pageList: [10, 25, 50, 100],
                    //编辑单元格事件
                    onEditableSave: function (field, row, oldValue, $el) {
                                $.ajax({
                                    type : "POST",
                                    url : '/admin/Storelist/edit',
                                    data : JSON.stringify(row),
                                    cache : false,
                                    success : function(data) {
                                        if (data=="succ") {
                                            alert("编辑成功");
                                            $('#dataGrid').bootstrapTable('refresh');
                                        } else {
                                             alert(data);
                                        }
                                    },
                                    error: function () {
                                          alert('编辑失败');
                                    },
                                    complete: function () {
                                        
                                    }
                                });
                    },  
                    columns: [  
                    {
                        align: 'center',
                        valign: 'middle',
                        checkbox:true,
                        formatter:function(i,row){
                            // if($.inArray(row.pid,Array.from(overAllIds))!=-1){    // 因为 Set是集合,需要先转换成数组  
                            //     return {
                            //         checked : true               // 存在则选中
                            //     }
                            // }
                        }
                    },    
                    {
                    title: '姓名',
                    field: 'uname',
                    align: 'center',
                    valign: 'middle',
                    formatter: (value, row, index) => {
                        return value;
                        }
                    },
                    {
                        title:'id',
                        field:'id',
                        align: 'center',
                        valign: 'middle',
                        visible:false,
                        formatter: (value, row, index) => {
                            return value;
                        }
                    },
                    {
                        title: '学号',
                        field: 'stusno',
                        align: 'center',
                        valign: 'middle',
                        formatter: (value, row, index) => {
                            return value;
                        }
                    },
                    {
                        title: '资产编号',
                        field: 'serialnum',
                        align: 'center',
                        valign: 'middle',
                        formatter: (value, row, index) => {
                            return value;
                        }
                    },
                    {
                        title: '资产描述',
                        field: 'serialdes',
                        align: 'center',
                        valign: 'middle',
                        formatter: (value, row, index) => {
                            return value;
                        }
                    },
                    {
                        title: '配件描述',
                        field: 'partIntr',
                        align: 'center',
                        valign: 'middle',
                        formatter: (value, row, index) => {
                            return value;
                        }
                    },
                    {
                        title: '配件数量',
                        field: 'count',
                        align: 'center',
                        valign: 'middle',
                        formatter: (value, row, index) => {
                            return value;
                        }
                    },
                    {
                        title: '类型',
                        field: 'type',
                        align: 'center',
                        valign: 'middle',
                        formatter: (value, row, index) => {
                            return value? '领取':'清退';
                        }
                    },
                    {
                        field: 'path',
                        title: '查看签名',formatter:function(value,row,index){
                            if(value){
                                var updt='<a target="blank" class="btn sign btn-primary btn-sm shiny" href="'+value+'">查看签名</a>';
                            }
                            else{
                                var updt='无签名';
                            }
                            return updt;
                        }
                    },
                    {
                            
                        title: '时间',
                        field: 'time',
                        align: 'center',
                        valign: 'middle',
                        formatter: (value, row, index) => {
                            return value;
                        }
                    },
                    {
                        title: '备注',
                        field: 'remarks',
                        align: 'center',
                        valign: 'middle',
                        formatter: (value, row, index) => {
                            return value;
                        }
                    }, 
                    {
                        title: '状态',
                        field: 'status',
                        align: 'center',
                        valign: 'middle',
                        formatter: (value, row, index) => {
                            return value ? '已处理':'待处理';
                        }
                    }, 
                    {
                        field: '#',
                        title: '操作',formatter:function(value,row,index){
                           // var updt='<a class="btn btn-primary btn-sm shiny" href="supdate.jsp?Id='+row.Id+'"><i class="fa fa-edit"></i>修改</a>';
                            var del=`<a class="btn btn-danger btn-sm shiny"  onClick="warning('确定要删除吗?','./del?id=${row.pid}')"><i class="fa fa-trash-o"></i>删除</a>`;
                            return del;
                        }
                    }
                    ]
                })
            })
            function GetQueryString(name)
            {
                var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
                var r = window.location.search.substr(1).match(reg);
                if(r!=null)return  unescape(r[2]); return null;
            }
           
   
    </script>

</body>
</html>