<!DOCTYPE html>
<html>
<head>
<title>首页</title>
<link rel="stylesheet" href="__PUBLIC__/css/font_780494_gi02bcyvmy5.css" rel="stylesheet">
<link rel="stylesheet" href="__PUBLIC__/css/font-awesome.min.css">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
<link href="__PUBLIC__/css/mui.min.css" rel="stylesheet" />
<link href="__PUBLIC__/css/style.css" rel='stylesheet' type='text/css'/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript" src="__PUBLIC__/js/mui.min.js"></script>


<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="App Loction Form,Login Forms,Sign up Forms,Registration Forms,News latter Forms,Elements"./>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfonts-->
<!-- <link href='http://fonts.useso.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700,800' rel='stylesheet' type='text/css'> -->
<!--//webfonts-->
</head>
<body>
		<div class="modal">
				<div class="modal-content">
						<div style="overflow: hidden">
							<h5 class="float-lt">姓名:<span class="uname"></span></h5>
							<h5 class="float-lt">学号:<span class="sno"></span></h5>
						</div>	
						<table>
							<thead>
									<tr>
										<th>资产编号</th>
										<th>资产描述</th>
										<th>配件描述</th>
										<th>配件数量</th>	
										<th>备注</th>	
									</tr>	
							</thead>
							<tbody>
								
							</tbody>
						</table>
						<div class="app-location ">
							<div class="submit final"><input type="submit"  value="签名提交"></div>
						</div>
				</div>	
		</div>
		<div class="barLine">
				<span class="fa fa-pencil-square-o"></span>
		</div>	
		<div class="app-location app-main">
			<h4 style="color:#fff;">当前仓库:{$store.sname}</h4>
			<h2>无纸化仓库管理</h2>
			<div class="line"><span></span></div>
			<form action="" method="post" class="form">
				<div class="form-group">
						<label for="" class="fa fa-address-card"></label>
						<input type="text" class="text" placeholder="请输入学号" name="stusno">
				</div>
				<div class="form-group">
						<label for="" class="iconfont icon-user"></label>
						<input type="text" class="text" placeholder="请输入姓名" name="uname">
				</div>
				<div class="htmlFrame">
					<div class="form-group">
							<label for="" class="fa fa-cube"></label>
							<input type="text" placeholder="请输入物品编号" name="serialnum">
					</div>
					<div class="form-group">
							<label for="" class="fa fa-tags"></label>
							<input type="text" placeholder="请输入资产描述" name="serialdes">
					</div>
					<div class="items">
						<div class="item">
								<div class="form-group">
										<label for="" class="fa fa-tags"></label>
										<input type="text" placeholder="请输入配件描述" name="partIntr">
								</div>
								<div class="form-group">
										<label for="" class="fa fa-cubes"></label>
										<input type="text" placeholder="数量" name="count">
								</div>
						</div>
					</div>
					<!-- <div class="add" style="margin-bottom:15px">
							<span><label class="fa fa-plus-circle" style="margin-right:.5em"></label>点击添加配件</span>
					</div> -->
					<div class="form-group">
							<textarea name="remarks" id="" cols="30" rows="10" placeholder="输入备注信息"></textarea>
					</div>	
				</div>
				<div class="submit addInfo"><input type="submit"  value="添加" ></div>
				<div class="clear"></div>
				<div class="new">
					<!-- <h3><a href="#">Forgot password ?</a></h3>
					<h4><a href="#">New here ? Sign Up</a></h4> -->
					<div class="clear"></div>
				</div>
			</form>
		</div>
		<div class="canvasWrap" style="display:none;">
				<div id="signature">
				</div>
				<div class="bar">
						<button id="clear"><span class="fa fa-trash-o" style="margin-right:.5em"></span>清除</button>
						<button id="formSubmit"><span class="fa fa-plus-square" style="margin-right:.5em"></span>签名提交</button>
				</div>
		</div>
	<!--start-copyright-->
   		<div class="copy-right">
				<p>Copyright &copy; 2019.<a target="_blank" href="#"></a></p>
		</div>
	<!--//end-copyright-->
	<script src="__PUBLIC__/js/jquery.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/jSignature.min.js"></script>
	<!--[if lt IE 9]>
	<script type="text/javascript" src="__PUBLIC__/js/flashcanvas.js"></script>
	<![endif]-->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
	<script src="__PUBLIC__/js/common.js"></script>
	<script>
			//保存表单信息
			var formData = [];
			$(function(){
					//记录笔画
					var Strokes = 0;
					$(".add").on('click',function(){
						var item=`
											<div class="item">
													<div class="form-group">
															<label for="" class="fa fa-tags"></label>
															<input type="text" placeholder="请输入配件描述" name="partIntr">
													</div>
													<div class="form-group">
															<label for="" class="fa fa-cubes"></label>
															<input type="text" placeholder="数量" name="count">
													</div>
											</div>	
									`;
						$(".items").append(item);	
					})
					//继续添加
					$(".addInfo").on('click',function(e){
								e.preventDefault();
								var result = FormValidate();
								if(result){
												$(".form")[0].reset();
												var i = result.length-1;
												$(".form input[name=uname]").val(result[i].uname);
												$(".form input[name=stusno]").val(result[i].stusno);
												var html =`
														<tr>
															<td>${result[i].serialnum}</td>
															<td>${result[i].serialdes}</td>
															<td>${result[i].partIntr}</td>
															<td>${result[i].count}</td>
															<td>${result[i].remarks}</td>
														</tr>
												`;
												$(".modal table tbody").append(html);
												$(".modal h5 .uname").html(result[i].uname)
												$(".modal h5 .sno").html(result[i].stusno)	
												toastr.info('添加成功!点击右侧按钮查看记录', 'Information');				
								}
			
					});
					//验证input 
					$(".form input[name=uname]").blur(checkUname);
					$(".form input[name=stusno]").blur(checkStusno);
					$(".form input[name=serialnum]").blur(checkSerialnum);
					$(".form input[name=serialdes]").blur(checkSerialdes);
					//最后签名
					$(".final").on('click',function(e){
							if(formData.length==0){
								toastr.error('无领取纪录!');
								return false;
							}
							$(".canvasWrap").fadeIn('fast',function(){
								var width =  document.documentElement.clientWidth,height= document.documentElement.clientHeight;
								$("#signature").jSignature({
										height:height,width:width,color:"#000",signatureLine:false,lineWidth:6
								})
								//签名监听
								$("#signature").bind('change', function(e){
												//e.stopPropagation();
												Strokes++;
								})		
							});		
					})
					//清除画布
					$("#clear").on('click',function(e){
									e.preventDefault();
									e.stopPropagation();
									// 重置笔画
									Strokes = 0 ;
									$("#signature").jSignature("reset");
					})
					//签名提交
					$("#formSubmit").on('click',function(e){
									if(Strokes<3){
											toastr.error('请完善签名!');
											return false;
									}
									var datapair = $("#signature").jSignature("getData", "image");
									var data = {
											signatureImg : datapair,
											formData:	formData
									}
									$.ajax({

									})
					})
					$(".barLine").on('click',function(){
							$(".modal").fadeToggle();
					})
			})
			function checkUname(){
					var uname = $.trim($(".form input[name=uname]").val());
					if(!uname){
						toastr.error('姓名不能为空!');
						return false;
					}
					else if(uname.length>10){
						toastr.error('姓名不能超过10位字符!');
						return false;     
					}
					else{
						return true;
					}
			}
			function checkStusno(){
					var stusno = $.trim($(".form input[name=stusno]").val());
					var reg = /^[0-9]+.?[0-9]*$/; 
					if(!reg.test(stusno)){
						toastr.error('学号必须是数字!');
						return false;
					}
					else if(!stusno){
						toastr.error('学号不能为空!');
						return false;
					}
					else{
						return true;
					}
			}
			function checkSerialnum(){
					var serialnum = $.trim($(".form input[name=serialnum]").val());
					var reg =  /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,}$/; 
					if(!reg.test(serialnum)){
						toastr.error('物品编号必须是字母和数字组合!');
						return false;
					}
					else{
						return true;
					}
			}
			function checkSerialdes(){
					var serialdes = $.trim($(".form input[name=serialdes]").val());	
					if(!serialdes){
							toastr.error("物品编号不能为空！");
							return false;
					}
					return true;
			}
			function checkitemsVal(){
					var $items = $(".form .items .item")
					var bool = true;
					$items.each(function(i,obj){
							var v1=$(obj).find('.form-group').eq(0).find('input[name="partIntr"]').val();
							var v2=$(obj).find('.form-group').eq(1).find('input[name="count"]').val();
							if(v1 && !v2){
									toastr.error("请输入对应配件的数量!");
									bool = false;
							}
							else if(!v1 && v2){
									toastr.error("请输入配件名称!");
									bool = false;
							}
					})
					return bool;	
			}
			function FormValidate(){
					if(checkUname()&&checkStusno()&&checkSerialnum()&&checkSerialdes()&&checkitemsVal()){
										var data = $(".form").serializeJson();
										formData.push(data);	
										return formData;
					}
					else{
								return false;
					}
			}

			//jquery form序列化转换为json对象
		(function($){  
			$.fn.serializeJson=function(){  
				var serializeObj={};  
				var array=this.serializeArray();  
				var str=this.serialize();  
				$(array).each(function(){  
					if(serializeObj[this.name]){  
						if($.isArray(serializeObj[this.name])){  
							serializeObj[this.name].push(this.value);  
						}else{  
							serializeObj[this.name]=[serializeObj[this.name],this.value];  
						}  
					}else{  
						serializeObj[this.name]=this.value;   
					}  
				});  
				return serializeObj;  
			};  
		})(jQuery);
	</script>
</body>
</html>